
body {
    background-color: #2f2f2f;
    /*font-family: "Lucida Sans", serif;*/
    color: whitesmoke;
}
/*start top bar*/
.topnav {
    overflow: hidden;
    background-color: #333;
    border: 1px solid whitesmoke;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.out{
    position: absolute;
    right: 2px;
    margin: 12px 20px 0 10px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/*end of top bar*/

.HeadText{
    font-size: 25px;
    font-family: "Lucida Sans";
    margin: 20px 20px 50px 20px;
    text-align: center;
}

.refStyle{
    text-decoration: none;
    color: #be202b;
    background-color: #dddddd;

}
.orderButtonStyle{
    background-color: #dddddd;
    width: 100px;
    height: 50px;
}
.orderButtonDiv{
    width: 100px;
    height: 50px;
    margin: auto;

}