<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock-fest</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/artistList.css}"/>

</head>
<body>

<div class="topnav">
    <a href="index">Home</a>
    <a href="artistList">Group List</a>
    <a href="#contact">News</a>
    <a href="#about">About</a>

</div>

<div id="mainList">


    <div>
        <p id="HeadText" th:utext="${grList}"></p>
    </div>
<table  border="1">
    <tr>
        <th><p>Group</p></th>
        <th><p>Album</p></th>
    </tr>
    <tr th:each ="m : ${music}">
        <td th:utext="${m.artistName}">...</td>
        <td th:utext="${m.album}">...</td>
    </tr>


</table>

</div>

</body>
</html>