<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock-fest</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupList.css}"/>

</head>
<body>

<div class="topnav">
    <a href="/index">Home</a>
    <a href="/GroupList">Group List</a>
    <a href="/AlbumsList">Albums</a>
    <a href="#contact">News</a>
    <a href="#about">About</a>

</div>

<div id="mainList">

    <div>
        <p class="HeadText" th:utext="${groupListMessage}"></p>
    </div>

    <div class="buttonDiv">
        <button class="buttonStyle"  ><a class="refStyle" href="ManageGroupList">Change</a></button>
    </div>

    <div>
        <table border="1" class="styled-table">
            <tr>
                <th><h2>Group</h2></th>
                <th><h2>Description</h2></th>
                <th><h2>Style</h2></th>
            </tr>
            <tr class="active-row" th:each="l : ${listGroups}">
                <td th:utext="${l.groupName}">...</td>
                <td th:utext="${l.groupDescription}">...</td>
                <td th:utext="${l.groupStyle}">...</td>
            </tr>
        </table>
    </div>




    <div class="orderButtonDiv" >
        <button class="orderButtonStyle" >ORDER TICKET NOW!<a class="refStyle" href="ManageTicketList"></a></button>
    </div>

</div>

</body>
</html>