<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock-fest</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/artistList.css}"/>

</head>
<body>

<div class="topnav">
    <a href="index">Home</a>
    <a href="GroupList">Group List</a>
    <a href="#contact">News</a>
    <a href="#about">About</a>

</div>

<div id="mainList">


    <div>
        <p id="HeadText" th:utext="${grList}"></p>
    </div>
    <div>
<table  border="1">
    <tr>
        <th><h1>Group</h1></th>
        <th><h1>Description</h1></th>
        <th><h1>Style</h1></th>
    </tr>
    <tr th:each ="l : ${listGroups}">
        <td th:utext="${l.groupName}">...</td>
        <td th:utext="${l.groupDescription}">...</td>
        <td th:utext="${l.groupStyle}">...</td>
    </tr>


</table></div>

    <div>
        <button ><a href="AlbumsList">See albums</a> </button>
    </div>
    <div>
        <button ><a href="ManageGroupList">Manage group list</a> </button>
    </div>

</div>

</body>
</html>