<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock-fest</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ManageList.css}"/>
</head>
<body>
<div class="main">
    <div class="topnav">
        <a href="/index">Home</a>
        <a href="/GroupList">Group List</a>
        <a href="/AlbumsList">Albums</a>
        <a href="/News">News</a>
        <a href="/About">About</a>
        <form class="out" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div class="flex-parent-element">
        <div class="flex-child-element">

            <h2>Add Group</h2>

            <form action="/addGroup" method="post">
                <input type="text" placeholder="Name" name="groupName"></br>

                <input type="text" placeholder="Description" name="groupDescription"></br>

                <input type="text" placeholder="Style" name="GroupStyle"></br>

                <input type="submit" value="Save">
            </form>

        </div>


        <div class="flex-child-element">
            <h2>Delete Group</h2>
            <form action="/deleteGroup" method="post">
                <input type="text" placeholder="Id to delete" name="Id"></br>

                <input type="submit" value="Delete">
            </form>

        </div>

    </div>


    <div class="mainTable">
        <table border="1">
            <tr>
                <th><h2>Id</h2></th>
                <th><h2>Group</h2></th>
                <th><h2>Description</h2></th>
                <th><h2>Style</h2></th>
            </tr>
            <tr th:each="l : ${listGroups}">
                <td th:utext="${l.Id}">...</td>
                <td th:utext="${l.groupName}">...</td>
                <td th:utext="${l.groupDescription}">...</td>
                <td th:utext="${l.groupStyle}">...</td>
            </tr>
        </table>

    </div>


</div>
</body>
</html>