<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock-fest</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupList.css}"/>
</head>
<body>
<div>


    <div>
        <h2>Add album</h2>
        <form action="/addAlbum" method="post">
            <label>Input band name </label>
            <input type="text" name="name"></br>

            <label>Input album name </label>
            <input type="text" name="albumName"></br>

            <input type="submit" value="Add">
        </form>
    </div>


    <div>
        <h2>Delete album</h2>
        <form action="/deleteAlbum" method="post">
            <label>Input id to delete </label>
            <input type="text" name="Id"></br>

            <input type="submit" value="Delete">
        </form>
    </div>

    <div>
        <button><a href="index">Main page</a></button>
    </div>

    <table border="1">
        <tr>
            <th><h2>Id</h2></th>
            <th><h2>Band name</h2></th>
            <th><h2>Album name</h2></th>

        </tr>
        <tr th:each="l : ${listAlbums}">
            <td th:utext="${l.id}">...</td>
            <td th:utext="${l.name}">...</td>
            <td th:utext="${l.albumName}">...</td>
        </tr>
    </table>
</div>
</div>


</body>
</html>